################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TallerTechnology/v17
/.vs/TallerTechnology/FileContentIndex
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/DTOs/obj
/DTOs/bin/Debug/net6.0
